
body{
    /* font-family: "Noto Serif", serif; */
    font-family: "Poppins", sans-serif;
}

header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* padding: 40px; This means 40px on the top, right, left and bottom */
      /* padding: 40px 40px 40px; This means that the first 40px is on the top, the second 40px is the left and right, the last 40px is the bottom  */
      /* padding: 40px 40px 40px 40px; This means the first 40px is the top, the second 40px is the right, the third 40px is the bottom, and lastly the fourth 40px is the left */
      padding: 21.02px 70px 21.02px; /* This means that the first 40px top and bottom while the other 40px is left and right*/
      align-items: center;
}

#auth {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

#nav-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
    /* font-family: poppins; To be discussed in the next class*/
}

#nav {
    /* border-width: 0.5px; */
    /* border-color: #CC0069; */
    /* border-style: solid; */
    border: 0.5px solid #CC0069; /* short form for border-width, border-style, and border-color  */
}

#home {
    color: #CC0069;
}

#icons {
    display: flex ;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#chevron {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 247px 24px 71px; */
    background: linear-gradient(to right, #FFDEEF,#FFDEEF, #DFF3FA);
    /* height: 50%; */
    height: 424px;
}

#info-box {
    display: flex;
    /* padding: 0px 400px 0px 350px;; */
    gap: 20px;
    width: 1000px;
}

#botttom {
    display: flex;
    flex-direction: column;
}

#text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
}

#photo {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.left-text {
    margin: 0;
}

#Hero-Header-Text {
    font-family: "Noto Serif", serif;;
}

#Hero-Header-Text-One {
    font-weight: 400;
    font-size: 20px;
}

#Hero-Header-Button {
    font-weight: 400;
    font-size: 16px;
    color: #CC0069;
}

#indicator-box {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.indicator{
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
}

#info-box-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#First-indicator {
    background-color: black;
}

#About-Section-Header {
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    color: #CC0069;
}

#About-Section-Text {
    font-weight: 400;
    font-size: 18px; 
    color: #161616;
}

#About-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 186px 56px 175px;
}

p {
    line-height: 140%;
}


#Head {
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    color: #000000;
}

#Health-Wellness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 1668px; */
    height: 777px;
    background-color: #FFDEEF;
}

#Health-Title {
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    margin: 0px;
}

#Sub-Title {
    font-weight: 600;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    margin: 0px;
    margin-top: 8px;
}

#Informative-box{
    margin-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: 502px 502px;
    grid-template-rows: 151px 151px 151px;
    gap: 28px 48px;
}

.Informative-title {
    font-weight: 500;
    font-size: 24px;
    font-family: "Noto Serif", serif;
}

.boxes {
    display: flex;
    flex-direction: row;
    width: 502px;
    height: 151px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px #5B5B5B40;
    padding: 8px 14px;
}

.Text-Class-Box {
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 1px 20px;
    line-height: 0px;
}

.description {
    margin: 12px 0px 0px 0px;
    font-weight: 400;
    font-size: 16px;
}

.Contrubitor {
    margin: 12px 0px 0px 0px;
    font-weight: 400;
    font-size: 16px;
}

#Tools-Features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #DFF3FA;
    margin: 56px 412px 55px; 
    height: 413px;
    width: 100%;
}

#Tools-Features-Title {
    display: flex;
    flex-direction: row;
    margin: 0px;
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

#Image-Container {
    display: grid;
    grid-template-columns: 171px 171px 213px;
    grid-template-rows: 239px;
    gap: 20px;
    padding: 110px 16px 16px 16px;
    margin-bottom: 16px;
    padding: 16px;
    gap: 40px;
}

#image-png {
    border-radius: 2000px;
    width: 145px;
    height: 145px;
}

#Text-Image-box1 {
    font-weight: 400;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    align-items: center;
    align-content: center; 
    margin: 0px;
}

#Text-Image-box2 {
    font-weight: 400;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    align-items: center;
    align-content: center;
    margin: 0px;
}

#Text-Image-box3 {
    font-weight: 400;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    align-items: center;
    align-content: center;  
    margin: 0px;
}

#Text-Image-box-sub {
    margin: 0px;
    font-weight: 400;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    margin: 0px 35px 8px;
}

#Tools-Features-Box {
    margin: 24px 0px 24px 0px;
}

#Market {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 980px;
    background-color: #FFDEEF;
}

#Market-Title {
    margin: 0px 0px 0px 0px;
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
}

#Market-Sub-Title {
    margin: 8px 0px 0px 0px;
    font-weight: 600;
    font-size: 24px;
    font-family: "Noto Serif", serif;
}

#Market-Box-Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 55px;
}

#Compoenet-Container {
    margin: 0px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 38px;
    gap: 20px;
    padding: 110px 16px 16px 16px;
    padding: 16px;
    gap: 10.5px;
    margin: 8px 0px;
    background-color: #ffffff;
}
#menubar {
    display: none;
}

#nav-items-moblie {
  display: none;
}

/* Responsiveness */

/* Moblie */
@media (max-width: 767px){
/* This means every style here will work for devices with a max width of 767px */
    header {
        padding: 5px 10px 5px;
    }
    #icons {
        gap: 10px;
    }

    #menubar {
        display: flex;
    }

    #menubar:active {
        transform: rotate(360deg);
        transition: 2s;
    }

    .hidden {
        display: none;
    }
    #nav {
        border: none;
        background-color: #CC0069;
        border-radius: 10px;
        box-shadow: 0px 10px 10px 0px #5B5B5B40;
    }
    #nav-items-moblie {
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: column;
        color: white;
        padding: 20px;
        gap: 14px;
        margin: 0px;
    }
    #Home {
        color: rgb(0, 0, 0);
    }
    #nav-items {
        display: none;
    }
    #About-Section-Header {
       font-size: 10px;
       font-weight: 300;
    }
    #About-Section-Text{
       font-weight: 200;
       font-size: 5px;
    }
    #About-Section{
        width: 100%;
    }
}

/* Tablet  */
@media (min-width: 768px) and (max-width: 1023px) {
/* This means every style here will work for devices between the range of 768px and 1023px */
    header {
        padding: 10px 25px 10px;
    }
    #menubar {
        display: none;
    }
    #nav-items-moblie {
        display: none;
      }
      #nav-items {
        display: flex;
      }
}