
body{
    /* font-family: "Noto Serif", serif; */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* padding: 40px; This means 40px on the top, right, left and bottom */
      /* padding: 40px 40px 40px; This means that the first 40px is on the top, the second 40px is the left and right, the last 40px is the bottom  */
      /* padding: 40px 40px 40px 40px; This means the first 40px is the top, the second 40px is the right, the third 40px is the bottom, and lastly the fourth 40px is the left */
      padding: 0px 70px 0px; /* This means that the first 40px top and bottom while the other 40px is left and right*/
      align-items: center;
      height: 5vh;
}

#auth {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

#nav-items {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 22px;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
    /* font-family: poppins; To be discussed in the next class*/
}

#nav {
    /* border-width: 0.5px; */
    /* border-color: #CC0069; */
    /* border-style: solid; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 0.5px solid #CC0069; /* short form for border-width, border-style, and border-color  */
    /* height: 10vh; */
    
}

#home {
    color: #CC0069;
}

#icons {
    display: flex ;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#chevron {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 247px 24px 71px; */
    background: linear-gradient(to right, #FFDEEF,#FFDEEF, #DFF3FA);
    /* height: 50%; */
    height: 80vh;
    position: relative;
}

#info-box {
    display: flex;
    /* padding: 0px 400px 0px 350px;; */
    gap: 20px;
    /* width: 1000px; */
    margin: 0 30px;
    align-items: center;

}

#botttom {
    display: flex;
    flex-direction: column;
}

#text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 16px;
}

#photo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    width: 50%;
}

.left-text {
    margin: 0;
}

#Hero-Header-Text {
    font-family: "Noto Serif", serif;;
}

#Hero-Header-Text-One {
    font-weight: 400;
    font-size: 20px;
}

#Hero-Header-Button {
    font-weight: 400;
    font-size: 16px;
    color: #CC0069;
}

#indicator-box {
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: absolute;
    bottom: 20px;
}

.indicator{
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
}

#info-box-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 1100px;
}

#First-indicator {
    background-color: black;
}

#About-Section-Header {
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    color: #CC0069;
}

#About-Section-Text {
    font-weight: 400;
    font-size: 18px; 
    color: #161616;
}

#About-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 186px 56px 175px;
}

p {
    /* line-height: 140%; */
}


#Head {
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    color: #000000;
}

#Health-Wellness {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 1668px; */
    /* height: 777px; */
    background-color: #FFDEEF;
}

#Health-Title {
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    margin: 0px;
}

#Sub-Title {
    font-weight: 600;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    margin: 0px;
    margin-top: 8px;
    text-align: center;
}

#Informative-box{
    margin-top: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 151px 151px 151px; */
    gap: 28px 48px;
    width: 95%;
}

.Informative-title {
    margin: 10px 0;
    font-weight: 500;
    font-size: 24px;
    font-family: "Noto Serif", serif;
}

.boxes {
    display: flex;
    flex-direction: row;
    /* width: 502px; */
    /* height: 151px; */
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px #5B5B5B40;
    padding: 8px 14px;
}

.Text-Class-Box {
    margin: 0px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 1px 20px;
    /* line-height: 0px; */
}

.description {
    margin: 12px 0px 0px 0px;
    font-weight: 400;
    font-size: 16px;
}

.Contrubitor {
    margin: 12px 0px 0px 0px;
    font-weight: 400;
    font-size: 16px;
}

#Tools-Features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #DFF3FA;
    /* margin: 56px 412px 55px;  */
    height: 413px;
    /* width: 50%; */
    padding: 0 20px;
}

#Tools-Features-Title {
    display: flex;
    flex-direction: row;
    margin: 0px;
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    align-items: center;
    margin-top: 24px;
    /* margin-bottom: 0px; */
}

#Image-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 239px;
    gap: 20px;
    padding: 110px 16px 16px 16px;
    margin-bottom: 16px;
    padding: 16px;
    gap: 40px;
}

#image-png {
    border-radius: 2000px;
    width: 145px;
    height: 145px;
}

#Text-Image-box1 {
    font-weight: 400;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    align-items: center;
    align-content: center; 
    margin: 0px;
}

#Text-Image-box2 {
    font-weight: 400;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    align-items: center;
    align-content: center;
    margin: 0px;
}

#Text-Image-box3 {
    font-weight: 400;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    align-items: center;
    align-content: center;  
    margin: 0px;
}

#Text-Image-box-sub {
    margin: 0px;
    font-weight: 400;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    margin: 0px 35px 8px;
}

#Tools-Features-Box {
    margin: 24px 0px 24px 0px;
}

#Market {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* height: 980px; */
    background-color: #FFDEEF;
}

#Market-Title {
    font-weight: 600;
    font-size: 32px;
    font-family: "Noto Serif", serif;
    margin: 0;
}

#Market-Sub-Title {
    font-weight: 600;
    font-size: 24px;
    font-family: "Noto Serif", serif;
    margin: 0;
    text-align: center;
}

#Market-Box-Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 55px;
}


#Compoenet-Container {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: 54px;
    gap: 8px;
    margin: 8px 1118px 8px 0px;
    background-color: #ffffff;
    border-radius: 4px;
}

.Context {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 38px;
    border-radius: 4px;
}

#Image-Market {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#Box-Image-Market {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 1247px; */
    /* height: 623px; */
    margin-top: 20px;
    gap: 40px;
}

#image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin: 24px 15px 50px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px 0px #5B5B5B40;
}

#marketable-text {
    margin: 24px 15px 50px;
}

#view-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #CC0069;
    color: #ffffff;
    width: 86px;
    height: 46px;
}

#Color {
    background-color: #CC0069;
    color: #ffffff;
}

#Community-box-holder {
    margin: 56px 357px;
}

#Community-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 56px 357px;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

#Text-Community {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    font-family: "Noto Serif", serif;
    color: #000000;
    align-items: center;
    justify-content: center;
}

#boxes-Community-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #DFF3FA;
    box-shadow: 0px 4px 4px 0px #5B5B5B40;
    width: 333px;
    height: 258px;
}

#boxes-Community-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #FFDEEF;
    box-shadow: 0px 4px 4px 0px #5B5B5B40;
    width: 333px;
    height: 258px;
}


#menubar {
    display: none;
}

#nav-items-moblie {
  display: none;
}

.arrow {
    height: 50px;
    width: 50px;
}

#Tools-Features-Container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 56px 0;
}


/* Responsiveness */

/* Moblie */
@media (max-width: 767px){
/* This means every style here will work for devices with a max width of 767px */
    header {
        padding: 0px 10px 0px;
        height: 10vh;
    }
    #icons {
        gap: 10px;
    }

    #menubar {
        display: flex;
    }

    #menubar:active {
        transform: rotate(360deg);
        transition: 2s;
    }

    .hidden {
        display: none;
    }
    #nav {
        border: none;
        background-color: #CC0069;
        border-radius: 10px;
        box-shadow: 0px 10px 10px 0px #5B5B5B40;
    }
    #nav-items-moblie {
        display: flex;
        list-style: none;
        padding: 0;
        flex-direction: column;
        color: white;
        padding: 20px;
        gap: 14px;
        margin: 0px;
    }
    #Home {
        color: rgb(0, 0, 0);
    }
    #nav-items {
        display: none;
    }
    #About-Section-Header {
       font-size: 24px;
    }
    #About-Section-Text{
       font-size: 16px;
    }
    #About-Section{
        margin: 0px 10px;
    }
    #photo{
        display: none;
    }
    #info-box {
        width: auto;
    }
    #text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
    }
    #chevron {
        height: 90vh;
    }
    .bar {
        display: none;
    }
    .left-text {
        text-align: center;
    }
    #indicator-box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        position: absolute;
        bottom: 25px;
    }
    .indicator {
        width: 12px;
        height: 12px;
    }
    #Informative-box {
    padding: 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    /* grid-template-rows: 151px 151px 151px; */
    gap: 28px 48px;
    width: 90%;
    margin: 0 auto 40px;
    }
.boxes {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 95%;
     margin: 0 auto;
}
#Health-Wellness {
    height: 100%;
}
#imageforbox {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.Text-Class-Box {
    margin: 0;
}
#Health-Title {
    font-size: 24px;
}
#Sub-Title {
    font-size: 16px;
}

#Health-Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

#Informative-title {
    margin: 10px 0px;
}

#imageforbox {
    object-fit: cover;
}

#Compoenet-Container {
    margin: 0px;
    display: flex;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 38px; */
    gap: 20px;
    /* padding: 110px 16px 16px 16px; */
    /* padding: 16px; */
    gap: 10.5px;
    margin: 8px 0px;
    background-color: #ffffff;
}

#Tools-Features {
    height: auto;
    width: 100%;
    gap: 10px;
}

#Tools-Features-Box {
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#Image-Container {
    grid-template-columns: 1fr;
    gap: 20px;
}

#Tools-Features-Container {
    margin: 0;
}

#Tools-Feature-Title {
    font-size: 24px;
    margin: 0;
    padding: 20px;
}

#Text-Image-Container {
  margin: 0;
}

#Text-Image-box-sub {
    margin: 0;
    align-items: center;
}

#Text-Image-box-sub {
    align-items: center;
}

#Market-Title { 
    font-size: 24px;
}

#Market-Sub-Title {
    font-size: 16px;
}

#Compoenet-Container {
    width: 80%;
    margin: 0 auto;
}

.Context{
    width: 100%;
}

#image-box {
    margin: 0;
}

#Box-Image-Market {
    grid-template-columns: 1fr;
    width: 90%;
    /* margin: 20px 10px 0; */
}
}

/* Tablet  */
@media (min-width: 768px) and (max-width: 1023px) {
/* This means every style here will work for devices between the range of 768px and 1023px */
    header {
        padding: 10px 25px 10px;
    }
    #menubar {
        display: none;
    }
    #nav-items-moblie {
        display: none;
      }
      #nav-items {
        display: flex;
      }
      #About-Section{
        margin: 0px 10px;
    }
    #photo{
        display: none;
    }
    #info-box {
        width: auto;
    }
    #text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
    }
    #chevron {
        height: 84vh;
    }
    .bar {
        display: none;
    }
    .left-text {
        text-align: center;
    }
    #Informative-box {
    padding: 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 151px 151px 151px; */
    gap: 28px 48px;
    width: 90%;
    margin: 0 auto 40px;

    }
.boxes {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 95%;
     margin: 0 auto;
}
#Health-Wellness {
    height: 100%;
}
#imageforbox {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.Text-Class-Box {
    margin: 0;
}
#Health-Title {
    font-size: 24px;
}
#Sub-Title {
    font-size: 16px;
}

#Health-Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}
#Informative-title {
    margin: 10px 0px;
}

#Tools-Features-Title {
    margin-bottom: 0;
}

#Box-Image-Market {
    grid-template-columns: 1fr;
    /* width: 75%; */
}
/* 
#Compoenet-box {
    justify-content: center;
    align-items: center;
    width: 0;
    
} */

#image-box {
    margin: 0;
}
}